.footer-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 2rem;
  background-color: rgba(0, 0, 0);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0);
  clip-path: inset(0 -100vmax);
  align-items: center;
  .contact-conatiner {
    margin: 0;
    a {
      font-size: 16px;
      color: var(--primaryColor);
    }
    a:hover {
      color: #fff;
    }
  }
  .logo img {
    max-width: 300px !important;
  }
}
